#swiper3 .swiper-button-next,
#swiper3 .swiper-button-prev {
  // scale: 0.5;
  // width: 15%;
  width: 1.2%;
  @media screen and (max-width: 650px) {
  }
}   

.shake{
  animation: shakeDiv 500ms linear ;
}
@keyframes shakeDiv {
  0%{
    transform: translateX(-2%);
  }
  50%{
    transform: translateX(2%);
  }
  100%{
    transform: translateX();
  }
  
}

.swiper-pagination-fraction{
  width: fit-content !important;
  background-color: white !important;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 8px;
  border-radius: 12px;
  bottom: 1% !important;
}

.scrollDiv {
  @media screen and (min-width: 650px) {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: flex;
    }
  }
}
