#swiper3 .swiper-button-next,
#swiper3 .swiper-button-prev {
  // scale: 0.5;
  // width: 15%;
  width: 0.1%;
  color: var(--black-color);
  @media screen and (max-width: 650px) {
  }
}

.scrollDiv {
  @media screen and (min-width: 650px) {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: flex;
    }
  }
}
